.containerAddFolder {
   margin-left: 20px;
   width: 300px;
}

.btnSpaseFile {
   margin-left: 20px;
   width: 300px;
}

.headerContainer {
   height: 70px;
}

.headerBox {
   display: flex;
   margin-left: 20px;
}

.file {
   min-width: 250px;
   max-width: 410px;
   height: 50px;
   border-color: #C1C1C1;
   cursor: pointer;
   border-style: solid 2px;
   position: relative;

}

.mar-l {
   margin-left: 20px;
}

.btnn {
   width: 100%;
}






.containerOption {
   background-color: #C1C1C1;
   height: 120px;
   width: 150px;
   z-index: 1;

}

.action {
   left: 98%;
   top: -30px;
   position: relative;

}

.icon-dot {
   margin-left: 50px;
}

.x {
   padding: 3px;
   display: flex;

}

.x:hover {
   color: red;

}




.btnSize {
   width: 100px;
   padding: 5px;
   border-bottom: black dashed 1px;
}

.btnSize:hover {
   color: white;

}